//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #4d148c;
$indigo: #4d148c;
$purple: #a45bd6;
$info: #a45bd6;
$dark: #2a0f4c;
$success: #1ecf72;
$green: #1ecf72;
